<div class="flex flex-row h-20 bg-[#b9b9b9] text-[#212529] p-4 justify-between items-center">
    <div class="flex items-center gap-3 p-2">
        <img src="./assets/icons/logo.svg" alt="Logo" class="flex">
        <p class="flex text-xl font-semibold">Student Attendance Tracker</p>
    </div>
    <div class="flex flex-row gap-10 text-xl font-semibold">
        <div class="relative group">
            <p class="flex cursor-pointer p-1">Dashboard</p>
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-accent transition-transform transform origin-left scale-x-0 group-hover:scale-x-100"></span>
        </div>
        <div class="relative group">
            <p class="flex cursor-pointer p-1">Profile</p>
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-accent transition-transform transform origin-left scale-x-0 group-hover:scale-x-100"></span>
        </div>
        <div class="flex py-1 px-2 rounded-xl cursor-pointer items-center justify-center border border-accent hover:bg-accent hover:text-secondary">
            <p class="flex">Login</p>
        </div>
        <div class="flex py-1 px-2 rounded-xl cursor-pointer items-center justify-center border border-accent hover:bg-accent hover:text-secondary">
            <p class="flex">Logout</p>
        </div>
    </div>
</div>