<div class="main-container">
    <div class="container">
        <div class="title">
            Sign Up
        </div>
        <form class="form-container" (submit)="submitSignup($event)">
            <div class="prompt-container">
                <span class="prompt-text">Name:</span>
                <input type="text" (change)="onNameChange($event)">
            </div>
            <div class="prompt-container">
                <span class="prompt-text">Email:</span>
                <input type="text" (change)="onEmailChange($event)">
            </div>
            <div class="prompt-container">
                <span class="prompt-text">Password:</span>
                <div class="password-field">
                    <input [type]="passwordVisible ? 'text' : 'password'" (change)="onPwdChange($event)">
                    <img src="assets/icons/eye-open.svg" (click)="passwordVisible = !passwordVisible" *ngIf="passwordVisible"/>
                    <img src="assets/icons/eye-close.svg" (click)="passwordVisible = !passwordVisible" *ngIf="!passwordVisible"/>
                </div>
            </div>
            <div class="footer-container">
                <input class="login-btn" type="submit" value="Sign Up">
            </div>
        </form>
    </div>
</div>