<div class="flex flex-col sm:p-32 p-10 gap-20">
    <div class="flex flex-col sm:flex-row gap-10">
        <div class="flex flex-col gap-5 sm:w-1/2 justify-center">
            <p class="flex text-5xl font-bold">
                Effortless Student Attendance Tracking
            </p>
            <p class="flex text-xl">
                Streamline your attendance management with our powerful, user-friendly platform. Say goodbye to manual processes and embrace a smarter, more efficient way to track attendance.
            </p>
            <div class="flex">
                <button type="submit" class="relative flex justify-center rounded-md border border-accent py-2 px-4 text-sm font-medium shadow-sm hover:bg-accent/90 hover:text-white focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 select-none" (click)="gotoLogin()">
                    Get Started
                </button>
            </div>
        </div>
        <div class="flex sm:w-1/2 justify-center">
            <img src="assets/home-page-pic.jpg" alt="Student Picture" class="flex sm:h-[35rem] h-[20rem] sm:w-[35rem] w-[20rem] aspect-square rounded-xl">
        </div>
    </div>
    <div class="flex w-full flex-col gap-10 justify-center items-center">
        <div class="flex flex-col gap-2 items-center">
            <p class="flex text-5xl font-bold">
                Watch my Video
            </p>
            <p class="flex text-lg">
                To get more insights about this website
            </p>
        </div>
        <iframe src="https://www.youtube.com/embed/VgwJUkgp9KM?si=7Zij3rTFDp6tnDo9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="h-[20rem] w-[20rem] sm:w-[40rem]"></iframe>
    </div>
</div>