<div class="main-container">
    <div class="container1">
        <div class="profile-container">
            <div class="profile-container-center">
                <div class="profile-pic">
                    {{userProfile}}
                </div>
            </div>
            <div class="profile-info">
                <span class="info-span info-bold">
                    Name:
                </span>
                <span class="info-span gap-10">
                    {{userInfo.name}}
                    <img src="assets/icons/pencil-icon.svg" class="edit-name" (click)="handleEditName()">
                </span>
            </div>
            <div class="profile-info">
                <span class="info-span info-bold">
                    Email:
                </span>
                <span class="info-span">
                    {{userInfo.userEmail}}
                </span>
            </div>
            <div class="profile-info">
                <span class="info-span info-bold">
                    Password:
                </span>
                <span class="info-span reset-button" (click)="handleResetPassword()">
                    Reset Password
                </span>
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="profile-container">
            <div class="profile-info">
                <span class="info-span info-bold">
                    Daily Remainder:
                </span>
                <span class="info-span pointer" (click)="handleRemainderToggle()">
                    <span class="remainder" [class.enabled]="userInfo.notificationEnabled" [class.disabled]="!userInfo.notificationEnabled">{{userInfo.notificationEnabled?"Enabled":"Disabled"}}</span>
                </span>
            </div>
            <div class="remainder-info">
                If Enabled, You will be notified via Mail at 7pm (IST) <br/>(Monday - Saturday)
            </div>
        </div>
    </div>
    <div class="container1" *ngIf="resetPassword">
        <div class="profile-container">
            <div class="container-heading">
                Reset Password
            </div>
            <div class="profile-info">
                <span class="info-span info-bold">
                    Old Password:
                </span>
                <span class="info-span password-field">
                    <input [type]="passwordVisible ? 'text' : 'password'" (change)="onOldPasswordChange($event)">
                    <img src="assets/icons/eye-open.svg" (click)="passwordVisible = !passwordVisible" *ngIf="passwordVisible"/>
                    <img src="assets/icons/eye-close.svg" (click)="passwordVisible = !passwordVisible" *ngIf="!passwordVisible"/>
                </span>
            </div>
            <div class="profile-info">
                <span class="info-span info-bold">
                    New Password:
                </span>
                <span class="info-span password-field">
                    <input [type]="passwordVisible ? 'text' : 'password'" (change)="onNewPasswordChange($event)">
                    <img src="assets/icons/eye-open.svg" (click)="passwordVisible = !passwordVisible" *ngIf="passwordVisible"/>
                    <img src="assets/icons/eye-close.svg" (click)="passwordVisible = !passwordVisible" *ngIf="!passwordVisible"/>
                </span>
            </div>
            <div class="profile-info">
                <span class="info-span info-bold">
                    Repeat New Password:
                </span>
                <span class="info-span password-field">
                    <input [type]="passwordVisible ? 'text' : 'password'" (change)="onRepeatNewPasswordChange($event)">
                    <img src="assets/icons/eye-open.svg" (click)="passwordVisible = !passwordVisible" *ngIf="passwordVisible"/>
                    <img src="assets/icons/eye-close.svg" (click)="passwordVisible = !passwordVisible" *ngIf="!passwordVisible"/>
                </span>
            </div>
            <div class="submit-reset-password">
                <div class="submit-button" (click)="onSubmitResetPassword()">
                    Submit
                </div>
                <div class="submit-button" (click)="cancelResetPassword()">
                    Cancel
                </div>
            </div>
        </div>
    </div>
    <div class="container1" *ngIf="editNameBox">
        <div class="profile-container">
            <div class="profile-info">
                <span class="info-span info-bold">
                    New Name:
                </span>
                <span class="info-span password-field">
                    <input type="text" (change)="onNewNameChange($event)">
                </span>
            </div>
            <div class="submit-reset-password">
                <div class="submit-button" (click)="onSubmitNewName()">
                    Submit
                </div>
                <div class="submit-button" (click)="onCancelEditName()">
                    Cancel
                </div>
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="profile-container">
            <div class="contact-info-text gap-10" *ngIf="!contactBox">
                Report Bug or Issue? <span class="contact-text" (click)="onHandleContactMe()">Contact Me. </span>
            </div>
            <ng-container *ngIf="contactBox">
                <div class="container-heading">
                    Contact 
                </div>
                <div class="profile-info">
                    <span class="info-span info-bold">
                        Subject:
                    </span>
                    <span class="info-span password-field">
                        <input type="text" (change)="onSubjectChange($event)">
                    </span>
                </div>
                <div class="profile-info">
                    <span class="info-span info-bold">
                        Message:
                    </span>
                    <span class="info-span password-field">
                        <textarea class="text-area" (change)="onMessageChange($event)"></textarea>
                    </span>
                </div>
                <div class="submit-reset-password">
                    <div class="submit-button" (click)="onSubmitContact()">
                        Submit
                    </div>
                    <div class="submit-button" (click)="onCancelContact()">
                        Cancel
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>