@import "../../styles.scss";

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.header-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 18px;
    font-weight: 800;
}

.not-auth-prompt-container{
    display: flex;
    justify-content: center;
}

.not-auth-prompt-text{
    display: flex;
    font-size: 16px;
    font-family: poppins;
    flex-direction: column;
    align-items: center;
}

.prompt-click-text{
    display: flex;
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}

.otp-prompt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.otp-enter-prompt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otp-submit-prompt{
    display: flex;
}

.otp-submit-btn button{
    background-color: $button-color;
    border-radius: 15px;
    height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
}