@import "../../styles.scss";

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    padding-top: 20px ;
}

.header-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 18px;
    font-weight: 800;
}

.not-auth-prompt-container{
    display: flex;
    justify-content: center;
}

.not-auth-prompt-text{
    display: flex;
    font-size: 16px;
    font-family: poppins;
    flex-direction: column;
    align-items: center;
}

.prompt-click-text{
    display: flex;
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}

.otp-prompt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.otp-enter-prompt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otp-submit-prompt{
    display: flex;
}

.otp-submit-btn button{
    background-color: $button-color;
    border-radius: 15px;
    height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
}

@media only screen and (max-width: 600px) {
    .dashboard-header {
      width: 75% !important;
    }
  }

.dashboard-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dashboard-header{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 20%;
}

.header-filter-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.attendance-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 15px;
    justify-content: center;
}

.subject-container{
    display: flex;
    flex-direction: column;
    // width: 10rem;
    // height: 5rem;
    border: 1px solid #a3a3a3;
    border-radius: 15px;
    padding: 15px;
    gap: 10px;
}

.subject-text{
    font-size: 16px;
    font-weight: bold;
}

.subject-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.subject-btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.present-btn{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: #5252eb;
    color: #FFF;
    cursor: pointer;
}

.absent-btn{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: #f75050;
    color: #FFF;
    cursor: pointer;
}

.present-text-btn{
    display: flex;
    color: #5252eb;
    cursor: pointer;
    font-size: 12px;
}

.absent-text-btn{
    display: flex;
    color: #f75050;
    cursor: pointer;
    font-size: 12px;
}


.add-subject{
    justify-content: center;
    align-items: center;
    width: 10rem;
    cursor: pointer;
}

.subject-icons{
    display: flex;
    cursor: pointer;
}

.add-semester-icon{
    display: flex;
    cursor: pointer;
}

.add-semester-input{
    width: 3rem;
}