<div class="container">
    <div class="quote-text">
        Empowering students to effortlessly track and improve their attendance with our intuitive Student Attendance Tracker
    </div>
    <div class="main-container">
        <div class="section">
            <span class="title">
                Welcome to the Student Attendance Tracker
            </span>
            <span class="intro-text">
                Empower your academic journey with our innovative Student Attendance Tracker. Say goodbye to the hassle of manual attendance recording and hello to a seamless, user-friendly solution designed to simplify attendance tracking for students. With real-time insights, customizable features, and intuitive interface, our platform revolutionizes the way you manage your attendance. Join us and take control of your academic success today. 
            </span>
        </div>
        <div class="section">
            <span class="title">
                My Story
            </span>
            <span class="intro-text">
                Driven by a deep-rooted passion for education and technology, I embarked on a journey to develop a solution that addresses a common pain point for students: attendance tracking. Fueled by my belief that technology can enhance learning experiences, I poured countless hours into creating a platform that not only streamlines attendance management but also empowers students to take ownership of their academic success.
            </span>
        </div>
        <div class="section">
            <span class="title">
                Key Features
            </span>
            <span class="intro-text">
                <ul>
                    <li>
                        <span class="list-title">Attendance Recording:</span> Simplify attendance tracking with our intuitive interface. Record attendance for each subject in just a few clicks.
                    </li>
                    <li>
                        <span class="list-title">Real-Time Insights:</span> Stay informed about your attendance status with instant calculations and visual representations of your attendance data.
                    </li>
                    <li>
                        <span class="list-title">Flexible Semester and Subject Management:</span> Create and manage multiple semesters and subjects effortlessly. Customize the system to fit your unique academic needs.
                    </li>
                </ul>
            </span>
        </div>
        <div class="section">
            <span class="title">
                How It Works
            </span>
            <span class="intro-text">
                <ol>
                    <li>
                        <span class="list-title">Sign Up:</span> Create your account to access the Student Attendance Tracker.
                    </li>
                    <li>
                        <span class="list-title">Record Attendance:</span> Input your attendance for each subject, semester, and academic year.
                    </li>
                    <li>
                        <span class="list-title">Track Progress:</span> Monitor your attendance percentages and visualize your progress over time.
                    </li>
                </ol>
            </span>
        </div>
        <div class="section">
            <span class="title">
                Benefits
            </span>
            <span class="intro-text">
                <ul>
                    <li>
                        <span class="list-title">Streamlined Process:</span> Say goodbye to manual attendance registers and hello to hassle-free attendance tracking.
                    </li>
                    <li>
                        <span class="list-title">Empowerment:</span> Take control of your academic journey and make informed decisions to improve your attendance and performance.
                    </li>
                    <li>
                        <span class="list-title">User-Friendly Interface:</span> Enjoy a seamless experience with our intuitive and user-friendly interface.
                    </li>
                </ul>
            </span>
        </div>
        <div class="section">
            <span class="title">
                Get Started Today
            </span>
            <span class="intro-text get-started">
                <span class="d-flex">
                    Ready to simplify attendance tracking and enhance your academic experience? Sign up now and join the Student Attendance Tracker community!
                </span>
                <span class="navigation-button d-flex" (click)="gotoDashboard()">
                    Get Started
                </span>
            </span>
        </div>
        <div class="section contact-section">
            <span class="title">
                Contact Me
            </span>
            <form class="contact-container" id="contactForm" (submit)="handleSubmit($event)">
                <div class="input-field">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required (change)="onNameChange($event)">
                </div>
                <div class="input-field">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required (change)="onEmailChange($event)">
                </div>
                <div class="input-field">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" required (change)="onMessageChange($event)"></textarea>
                </div>
                <div class="submit-field">
                    <input type="submit" class="submit-btn">
                </div>
            </form>                  
        </div>
    </div>
</div>
