.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.main-content-text{
    display: flex;
    font-size: 20px;
}

.navigation-text{
    display: flex;
    color: blue;
    cursor: pointer;
}